{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Карта мэтэбэ спотов</title>

  <link rel="shortcut icon" href="{% static "spotograph/favicon.png" %}" type="image/png">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
  <link rel="stylesheet" href="{% static "spotograph/css/leaflet-sidebar.css" %}"/>
  <link rel="stylesheet" href="{% static "spotograph/css/chat.css" %}"/>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/@ansur/leaflet-pulse-icon@0.1.1/dist/L.Icon.Pulse.css">

  <style>
    body {
      padding: 0;
      margin: 0;
    }

    html, body, #map {
      height: 98%;
    }

    .place-description img {
      max-width: 100%;
    }

    .sidebar-content {
      padding: 14px 20px;
      height: 100%;
    }

    .select-place-prompt {
      color: red;
      width: 100px;
    }

    .soc-icon {
      height: 30px;
      width: 30px;
      margin: 0 5px
    }

    .btn-light-moon {
      background: #FFEFBA; /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color: #000;
      border: 3px solid #eee;
    }

    .btn-cool-blues {
      background: #2193b0; /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color: #fff;
      border: 3px solid #eee;
    }

    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 100%;
    }

    .soc-nav {
      list-style: none;
      text-align: center;
      margin-bottom: 20px;
      padding: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .sidebar-container {
      font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
      height: 100%;
      box-sizing: border-box;
      padding: 10px;
      width: 45%;
    }

    .sidebar-control {
      height: 100%;
      width: 100%;
      overflow: auto;
      box-sizing: border-box;
      font-size: 1.1em;
      background: white;
      box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
      border-radius: 4px;
    }
    .preview {
      padding: 10px;
      position: relative;
      height: 120px;
      width: 90px;
      margin-right: 20px;
    }
    .text-center {
        text-align: center!important;
    }
    .preview-img {
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.7);
      position: absolute;
      top: 10px;
      left: 9px;
    }

    .browse-button {
        width: 90px;
        height: 90px;
        position: absolute;
        top: 10px;
        left: 9px;
        background: linear-gradient(180deg, transparent, black);
        opacity: 0;
        transition: 0.3s ease;
    }
    .browse-button:hover {
      opacity: 1;
    }
    .fa{
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
    }
    .fa-pencil-alt:before {
        content: "\f303";
    }
    ::after, ::before {
        box-sizing: border-box;
    }
    .browse-input {
      width: 90px;
      height: 90px;
      border-radius: 100%;
      transform: translate(-1px, -26px);
      opacity: 0;
    }
    button, input {
        overflow: visible;
    }
    button, input, optgroup, select, textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
    .onhover-image {
      width: 20px;
      height: 20px;
      position: absolute;
      left: 37px;
    }
    .pencil {
      top: 5px;
    }
    .backet {
      top: 55px;
    }
    .Error {
        color: crimson;
        font-size: 13px;
    }
    #short-description {
      height: calc(6.5em + .75rem + 2px);
    }
    #features {
      height: calc(6.5em + .75rem + 2px);
    }
    .img-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      width: 90%;
    }
    {#@media (max-width: 768px) {#}
    {#   .soc-nav {#}
    {#  display: flex;#}
    {#  justify-content: space-around;#}
    {#  width: 60%;#}
  </style>
  <script id="app-heading" type="text/template">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'index' %}">Spotograph</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% if not user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'login' %}">Войти<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link  disabled" href="#">Добавить СПОТ<span class="sr-only">(current)</span></a>
            </li>
          {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'logout' %}">Выйти<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="{%  url 'cms' 0 %}">Добавить СПОТ<span class="sr-only">(current)</span></a>
          </li>
          {% endif %}
          {% if user_spots %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Мои споты
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for spot in user_spots %}
                  <a class="dropdown-item" href="{% url 'cms' spot.pk %}">{{ spot.title }}</a>
                {% endfor %}
              </div>
            </li>
          {% endif %}

         </ul>

        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Название СПОТа" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
        </form>
      </div>
    </nav>
  </script>

  <script id="app-template" type="text/template">
    <div v-bind:class="{'sidebar-content': 1, 'bg-white': selectedPlace, 'bg-secondary': !selectedPlace}">
      {% verbatim %}
      <div class="place-description" style="font-size: 15px">

        <img v-if="selectedPlace.mainPhotoSrc" v-bind:src="selectedPlace.mainPhotoSrc" class="d-block shadow mb-3 mx-auto rounded"
             v-bind:alt="selectedPlace.title">

        <h4 class="mb-3 text-center">{{ selectedPlace.title }}</h4>
        <div class="center" style="margin-bottom: 20px">
          <div>
            <button class="btn btn-light-moon btn-fab">Задонатить!</button>
            <button class="btn btn-cool-blues btn-fab">Чат</button>
          </div>
        </div>

        <p>{{ selectedPlace.short_description }}</p>
        <div id="place-photos" class="carousel slide mb-3 shadow" data-ride="carousel" data-interval="5000">
          <ol class="carousel-indicators">
            <template v-for="(img, index) in carouselImgs" :key="img">
              <li v-on:click="handlePhotosClick(index)" v-bind:class="{active: index==0}"></li>
            </template>
          </ol>
          <div class="carousel-inner">
            <template v-for="(img, index) in carouselImgs" :key="img">
              <div v-bind:class="{'carousel-item bg-light': 1, active: index==0}">
                <img v-bind:src="img" class="d-block w-100" v-bind:alt="selectedPlace.title">
              </div>
            </template>
          </div>
          <template v-if="carouselImgs.length">
            <a class="carousel-control-prev" v-on:click="handlePhotosClick('prev')" role="button">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" v-on:click="handlePhotosClick('next')" role="button">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </template>
        </div>
        <div v-html="selectedPlace.long_description"></div>
        {% endverbatim %}

        <h5>Последние сообщения:</h5>
        <div class="mesgs" style="width: 100%; padding: 0">
          <div class="incoming_msg" style="display: flex; align-items: center">
            <div class="incoming_msg_img" style="width: 10%"><img src="https://ptetutorials.com/images/user-profile.png"
                                                                  alt="sunil"></div>
            <div class="received_msg">
              <div class="received_withd_msg" style="width: 100%">
                <p>Просто тествое сообщение</p>
                <span class="time_date"> 11:01 AM    |    June 9</span></div>
            </div>
          </div>
        </div>
        <ul class="soc-nav">
          <li>
            <h6>Soc.</h6>
            <a :href="selectedPlace.vkLink"><img class="soc-icon" src="{% static "spotograph/vkn.svg" %}" alt="VK"></a>
            <a :href="selectedPlace.instLink"><img class="soc-icon" src="{% static 'spotograph/instagram.svg' %}" alt="IG"></a>
          </li>
          <li>
            <h6>Nav.</h6>
            <a :href="selectedPlace.googleLink"><img class="soc-icon" src="{% static "spotograph/google-maps.svg" %}" alt="VK"></a>
            <a :href="selectedPlace.yaNavLink"><img class="soc-icon" src="{% static 'spotograph/ya-navt.png' %}" alt="IG"></a>
          </li>
        </ul>
      </div>

  </script>
  <script id="img-input" type="text/template">
    <img class="preview-img" src="{% static 'spotograph/mountain-bike.png' %}" alt="Preview Image" width="90" height="90"/>
    <div class="browse-button">
        <img class='onhover-image pencil' src="{% static 'spotograph/pencil.png' %}">
        <img class='onhover-image backet' src="{% static 'spotograph/delete.png' %}">
        <input class="browse-input" type="file" id="browse-input" required name="UploadedFile" id="UploadedFile"/>
    </div>
    <span class="Error"></span>
  </script>
</head>
<body class="bg-dark">
<div id="header"></div>
<div style="display: flex; justify-content: space-around">
  <div class="sidebar-container">
    <div class="sidebar-control">
        <div class="col order-md-1 no-marginLR">

          <h4 class="mb-3 mt-3">Данные спота</h4>
          <label for="browse-input">Главное изображение</label>
          <div class="preview text-center">
            {% if main_image %}
              <img class="preview-img" id="main-image" src="{{ main_image.url }}" alt="Preview Image" width="90" height="90"/>
            {% else %}
              <img class="preview-img" id="main-image" src="{% static 'spotograph/mountain-bike.png' %}" alt="Preview Image" width="90" height="90"/>
            {% endif %}
            <div class="browse-button">
                <img class='onhover-image pencil' src="{% static 'spotograph/pencil.png' %}">
                <img class='onhover-image backet' id="main-delete" src="{% static 'spotograph/delete.png' %}">
                <input class="browse-input" type="file" id="main-input" required name="UploadedFile" id="UploadedFile"/>
            </div>
            <span class="Error"></span>
          </div>

          <form class="needs-validation" novalidate>
            <div class="mb-3">
              <label for="title">Название спота</label>
              {% if title %}
                <input type="text" class="form-control" id="title" value="{{ title }}">
              {% else %}
                <input type="text" class="form-control" id="title" placeholder="DefaultSpot">
              {% endif %}
              <div class="invalid-feedback">
                im keepin it in case
              </div>
            </div>

            <div class="mb-3">
              <label for="short-description">Описание спота <span class="text-muted">(опционально)</span></label>
              {% if title %}
                <textarea type="text" class="form-control" id="short-description">{{ description }}</textarea>
              {% else %}
                <textarea type="text" class="form-control" id="short-description" placeholder="short-description"></textarea>
              {% endif %}
              <div class="invalid-feedback">
                im keepin it in case
              </div>
            </div>

            <label for="browse-input">Фото фитчей спота</label>
            {% if new %}
              <div class="img-container" id="img-field-new"></div>
            {% else %}
              <div class="img-container" id="img-field">
              {% for image in features_images %}
                <div class="preview text-center" id="id_{{ forloop.counter0 }}">
                  <img class="preview-img" src="{{ image.image.url }}" alt="Preview Image" width="90" height="90"/>
                  <div class="browse-button">
                      <img class='onhover-image pencil' src="{% static 'spotograph/pencil.png' %}">
                      <img class='onhover-image backet' src="{% static 'spotograph/delete.png' %}">
                      <input class="browse-input" type="file" id="browse-input" required name="UploadedFile" id="UploadedFile"/>
                  </div>
                  <span class="Error"></span>
                </div>
              {% endfor %}
              </div>
            {% endif %}

            <div class="mb-3">
              <label for="features">Описание фитч спота<span class="text-muted">(опционально)</span></label>
              {% if features %}
                <textarea type="text" class="form-control" id="features">{{ features }}</textarea>
              {% else %}
                <textarea type="text" class="form-control" id="features" placeholder="spot features"></textarea>
              {% endif %}
              <div class="invalid-feedback">
                im keepin it in case
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="latitude">Широта</label>
                {% if latitude %}
                  <input type="text" class="form-control" id="latitude" value="{{ latitude }}" required>
                {% else %}
                  <input type="text" class="form-control" id="latitude" placeholder="" required>
                {% endif %}
                <div class="invalid-feedback">
                  im keepin it in case
                </div>
              </div>

              <div class="col-md-6 mb-3">
                <label for="longitude">Долгота</label>
                {% if longitude %}
                  <input type="text" class="form-control" id="longitude" value="{{ longitude }}" required>
                {% else %}
                  <input type="text" class="form-control" id="longitude" placeholder=""required>
                {% endif %}
                <div class="invalid-feedback">
                  im keepin it in case
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="inst-url">Ссылка на инст</label>
              {% if inst %}
                <input type="text" class="form-control" id="inst-url" placeholder="instagram.com/" value="{{ inst }}">
              {% else %}
                <input type="text" class="form-control" id="inst-url" placeholder="instagram.com/">
              {% endif %}
              <div class="invalid-feedback">
                im keepin it in case
              </div>
            </div>

            <div class="mb-3">
              <label for="vk-url">Ссылка на вк</label>
              {% if vk %}
                <input type="text" class="form-control" id="vk-url" value="{{ vk }}" placeholder="vk.com/">
              {% else %}
                <input type="text" class="form-control" id="vk-url" placeholder="vk.com/">
              {% endif %}
              <div class="invalid-feedback">
                im keepin it in case
              </div>
            </div>
            {% if new %}
              <button class="btn btn-primary btn-lg btn-block" id="blue-button" type="submit">Сохранить</button>
            {% else %}
              <button class="btn btn-primary btn-lg btn-block" id="blue-button" type="submit">Сохранить</button>
              <a href="{% url 'delete' pk %}" style="text-decoration: none"><div class="btn btn-danger btn-lg btn-block mt-1" id="red-button" type="submit">Удалить</div></a>
            {% endif %}
            <hr class="mb-4">
          </form>
        </div>
    </div>
  </div>
  {% csrf_token %}
  <div class="sidebar-container">
    <div class="sidebar-control">
      <div id="sidebar"></div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-providers/1.10.1/leaflet-providers.min.js"
        integrity="sha256-EV/ywRtxUOBICwOsLtPpYEONoBF6g+ShAcLX1Ts48GA=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet-control-custom@1.0.0/Leaflet.Control.Custom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/loglevel/1.6.8/loglevel.min.js"
        integrity="sha256-O/iFn3B3kEV/q5PPVW8TVpRhoywaK7NN4UjdnBO9DXo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"
        integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@ansur/leaflet-pulse-icon@0.1.1/dist/L.Icon.Pulse.js"></script>

<script src="{% static "spotograph/js/leaflet-sidebar.js" %}"></script>
</body>
<script>
  Object.defineProperty(Object.prototype, 'length', {
      get: function () {
          var size = 0, key;
          for (key in this)
              if (this.hasOwnProperty(key))
                  size++;
          return size;
      }
  });

  var sidebarApp = new Vue({
      el: '#sidebar',
      template: document.getElementById('app-template').innerHTML,
      data: {
          selectedPlace: {
              title: "DefaultSpot",
              imgs: [
                "https://sun9-30.userapi.com/c9356/v9356879/1dc/YIjbVncEbZE.jpg",
                "https://sun9-40.userapi.com/c9356/v9356879/1e6/lBzxCveEfvg.jpg",
                "https://sun9-67.userapi.com/c9356/v9356879/33a/JWxbeFDvEy0.jpg"
              ],
              short_description: "Дефолтное описание",
              long_description: "<p>Дефолтная фитча<br>Дефолтная фитча<br>Дефолтная фитча<br>Дефолтная фитча</p>",
              mainPhotoSrc: "{% static 'spotograph/mountain-bike.png' %}",
              vkLink: '#',
              instLink: '#',
              yaNavLink: '#',
              googleLink: '#',
        }
    },
    computed: {
        carouselImgs: function () {
            return this.selectedPlace.imgs;
        },
    },
    updated: function () {
        this.$nextTick(function () {
            // Код, будет запущен только после обновления всех представлений
            $('#place-photos').carousel();
        })
    },
    methods: {
        handlePhotosClick: function (slideId = 'next') {
            // default event handlers of Bootstrap Carousel conflict with Leaflet
            // so custom handler will mimic expected carousel behaviour
            $('#place-photos').carousel(slideId);
        }
    },
  });


  let headerApp = new Vue({
      el: '#header',
      template: document.getElementById('app-heading').innerHTML,
      data: {
          showHeader: true,
        }
    });

  function makeNavLinks() {
      if (latitudeLongitude['latitude'] && latitudeLongitude['longitude']) {
          sidebarApp.selectedPlace.yaNavLink = `yandexnavi://build_route_on_map?lat_to=${latitudeLongitude['latitude']}&lon_to=${latitudeLongitude['longitude']}`
          sidebarApp.selectedPlace.googleLink = `maps://www.google.com/maps/dir/?api=1&travelmode=driving&layer=traffic&destination=${latitudeLongitude['latitude']},${latitudeLongitude['longitude']}`
      }
  }
  let titleField = document.getElementById('title'),
      shortDescription = document.getElementById('short-description'),
      spotFeatures = document.getElementById('features'),
      latitudeField = document.getElementById('latitude'),
      longitudeField = document.getElementById('longitude'),
      latitudeLongitude = {'latitude': null, 'longitude': null},
      bigBlueButton = document.getElementById('blue-button'),
      instField = document.getElementById('inst-url'),
      vkField = document.getElementById('vk-url');

  titleField.addEventListener('keyup', function (e) {
      sidebarApp.selectedPlace.title = titleField.value
  });
  shortDescription.addEventListener('keyup', function (e) {
      sidebarApp.selectedPlace.short_description = shortDescription.value
  });
  spotFeatures.addEventListener('keyup', function (e) {
      sidebarApp.selectedPlace.long_description = spotFeatures.value
  });
  instField.addEventListener('keyup', function (e) {
      sidebarApp.selectedPlace.instLink = instField.value
  });
  vkField.addEventListener('keyup', function (e) {
      sidebarApp.selectedPlace.vkLink = vkField.value
  });

  latitudeField.addEventListener('keyup', function (e) {
      let coord = parseFloat(latitudeField.value);
      if (!isNaN(coord) && coord <= 90 && coord >= -90) {
         latitudeLongitude['latitude'] = latitudeField.value;
         makeNavLinks()
      }
  });
  longitudeField.addEventListener('keyup', function (e) {
      let coord = parseFloat(longitudeField.value);
      if (!isNaN(coord) && coord <= 90 && coord >= -90) {
         latitudeLongitude['longitude'] = longitudeField.value;
         makeNavLinks()
      }
  });

  let mainImageInput = document.getElementById('main-input'),
      mainImageImage = document.getElementById('main-image'),
      mainImageImageBackUp = '{% static 'spotograph/mountain-bike.png' %}',
      reader = new FileReader();

  reader.onload = e => {
      mainImageImage.src = e.target.result;
      sidebarApp.selectedPlace.mainPhotoSrc = e.target.result;
  };
  mainImageInput.addEventListener('change', function (e) {
      let file = e.target.files[0];
      reader.readAsDataURL(file);
  });
  let mainDeleteButton = document.getElementById('main-delete');
      mainDeleteButton.addEventListener('click', function (e) {
      mainImageImage.src = mainImageImageBackUp;
      sidebarApp.selectedPlace.mainPhotoSrc = null;
  });

  function refreshCarousel(idsAndPics) {
      let imgs = [];
      for (id in idsAndPics) {
          if (idsAndPics[id]) {
          imgs.push(idsAndPics[id]);
          }
      }
      sidebarApp.selectedPlace.imgs = imgs;
  }

  function makeImage(imgField, imgInputTemplate, id) {
      let newImg = document.createElement('div');
      newImg.classList.add('preview', 'text-center');
      newImg.id = id;
      newImg.innerHTML = imgInputTemplate;
      imgField.appendChild(newImg)
  }

  function checkEmptyInputs(idsAndPics) {
      console.log(idsAndPics)
      let emptyInputs = [];
      if (idsAndPics.length > 3) {
          for (idAndPic in idsAndPics) {
              if (!idsAndPics[idAndPic]) {
                  emptyInputs.push(idAndPic);
              }
              if (emptyInputs.length > 1) {
                  let emptyInput = document.getElementById(emptyInputs[0]);
                  emptyInput.parentNode.removeChild(emptyInput);
                  delete idsAndPics[emptyInputs[0]];
              }
          }

      }
  }

  function checkIfImgFieldIsFull(idsAndPics, imgField, imgInputTemplate) {
      let isFull = true;
      for (idAndPic in idsAndPics) {
          if (!idsAndPics[idAndPic]) {
              isFull = false;
          }
      }
      if (isFull) {
          let newPicId = `id_${Object.keys(idsAndPics).pop().slice(3) + 1}`;
          makeImage(imgField, imgInputTemplate, newPicId);
          appendFunctionality(newPicId, idsAndPics, imgField, imgInputTemplate)
      }
  }

  function appendFunctionality(idAndPic, idsAndPics, imgField, imgInputTemplate) {
      let selector = `#${idAndPic}`,
          currentImg = document.querySelector(selector + ' img'),
          currentInput = document.querySelector(selector + ' input'),
          currentDeleteButton = document.querySelector(selector + ' .backet'),
          currentReader = new FileReader();

      currentReader.onload = e => {
          currentImg.src = e.target.result;
          idsAndPics[idAndPic] = e.target.result;
          refreshCarousel(idsAndPics);

          checkIfImgFieldIsFull(idsAndPics, imgField, imgInputTemplate);
      };

      currentInput.addEventListener('change', function (e) {
          let file = e.target.files[0];
          currentReader.readAsDataURL(file);
      });

      currentDeleteButton.addEventListener('click', function (e) {
          currentImg.src = mainImageImageBackUp;
          idsAndPics[idAndPic] = null;
          refreshCarousel(idsAndPics);

          checkEmptyInputs(idsAndPics)
      });
  }

  let idsAndPics = {},
      imgInputTemplate = document.getElementById('img-input').innerHTML;
  try {
      let imgField = document.getElementById('img-field-new');
      if (imgField) {
          for (let i = 0; i < 3; i++) {
              idsAndPics[`id_${i}`] = null;
              makeImage(imgField, imgInputTemplate, `id_${i}`)
          }
          for (idAndPic in idsAndPics) {
              appendFunctionality(idAndPic, idsAndPics, imgField, imgInputTemplate)
          }
      } else {
          imgField = document.getElementById('img-field');
          for (let i = 0; i < imgField.children.length; i++) {
              idsAndPics[imgField.children[i].id] = imgField.children[i].children[0].src
          }

          sidebarApp.selectedPlace.title = titleField.value;
          sidebarApp.selectedPlace.short_description = shortDescription.value;
          sidebarApp.selectedPlace.long_description = spotFeatures.value;
          sidebarApp.selectedPlace.mainPhotoSrc = mainImageImage.src;
          sidebarApp.selectedPlace.vkLink = vkField.value;
          sidebarApp.selectedPlace.instLink = instField.value;
          latitudeLongitude = {'latitude': latitudeField.value, 'longitude': longitudeField.value}

          refreshCarousel(idsAndPics);
          makeNavLinks()
          checkIfImgFieldIsFull(idsAndPics, imgField, imgInputTemplate);
          for (idAndPic in idsAndPics) {
              appendFunctionality(idAndPic, idsAndPics, imgField, imgInputTemplate)
          }
      }
  } catch (e) {
      alert(`bububu ${e}`)
  }

  function loadJSON(elementId){
      let element = document.getElementById(elementId);

      if (!element){
        log.error(`Not found element with id '${elementId}'.`)
        return null;
      }

      return JSON.parse(element.textContent);
    }

  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  bigBlueButton.addEventListener('click', async function (event) {
      event.preventDefault();

      let imgsList = [];
      for (key in idsAndPics) {
          if (idsAndPics[key] != null) {
              imgsList.push(idsAndPics[key])
          }
      }

      let data = {
          title: titleField.value,
          description: shortDescription.value,
          features: spotFeatures.value,
          latitude: latitudeField.value,
          longitude: longitudeField.value,
          inst: instField.value,
          vk: vkField.value,
          main: mainImageImage.src,
          imgs: imgsList,
          pk: window.location.href.split('/')[window.location.href.split('/').length - 1],
      };


      try {
          let response = await fetch('http://127.0.0.1:8000/api/detail/',{
              method: 'POST',
              headers: {
                  'Content-type': 'application/json',
                  'X-CSRFToken': csrftoken
              },
              body: JSON.stringify(data)
          });

          if (!response.ok){
              alert('Ошибка в данных спота!');
              return;
          }

          let result = await response.text();
          console.log(result);
      } catch (e) {
          alert('Ошибка при обновлении/создании данных спота');
          throw e;
      }


  })

</script>
</html>